asgiref==3.7.2
Django==5.0.2
django-cors-headers==4.3.1
django-grappelli==3.0.8
psycopg2-binary==2.9.9
python-decouple==3.8
python-dotenv==1.0.1
sqlparse==0.4.4
tzdata==2024.1
websockets==12.0
